<header>
    <div class="container">
        <div class="intro">
            <p class="intro__pre">Hello</p>
            <p class="intro__main">My name is <span>{{ site.name }}</span>, a {{ site.job }} who loves all things {{ site.languages }}</p>
            <p class="intro__post">{{ site.location }}</p>
        </div>

        {{ if site.github_username or site.codepen_username or site.twitter_username or site.email_address }}
        <div class="social">
            {{ if site.linkedin_username }}<a href="http://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">LinkedIn</a>{{ endif }}
            {{ if site.instagram_username }}<a href="http://instagram.com/{{ site.instagram_username }}" target="_blank">Instagram</a>{{ endif }}
            {{ if site.twitter_username }}<a href="http://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>{{ endif }}
            {{ if site.email_address }}<a href="mailto:{{ site.email_address }}">Email</a>{{ endif }}
        </div>
        {{ endif }}

    </div>
</header>
