<h3 class="section-title">Portfolio</h3>
<dl class="education">
    {% for portfolio in site.data.portfolio %}
        <dt>
            <p class="title">{{ portfolio.title }}</p>
            <p class="company">{{ portfolio.company }}</p>
            <p class="period">{{ portfolio.period }}</p>
            <div class="social">
              {{ if portfolio.website }}<a href="https://www.wdw.nl/{{ portfolio.website }}" target="_blank">More info</a>{{ endif }}
            <div>
        </dt><!--
        --><dd>
            <p>{{ portfolio.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Experience</h3>
<dl class="experience">
    {% for job in site.data.jobs %}
        <dt>
            <p class="title">{{ job.title }}</p>
            <div class="social">
              {{ if job.website }}<a href="http://www.{{ job.website }}" target="_blank">{{ job.company }}</a>{{ endif }}
            </div>
            <p class="period">{{ job.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ job.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Education</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
            <div class="social">
              {{ if education.website }}<a href="https://dspace.library.uu.nl/handle/1874/316923{{ education.website }}" target="_blank">Thesis</a>{{ endif }}
            <div>
        </dt><!--
        --><dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>
