// @name Footer
// @description All footer styles!

.footer {
    padding: ($spacer * 2) $spacer;
    text-align: center;
    border-top: 1px solid #edefee;
    background-color: #eec7b7;

    &__title {
        font-size: 1.2rem;
        font-weight: bold;
        color: #1c42bf;
    }

    &__subtitle {
        text-transform: capitalize;
        color: #1c42bf;
    }

    img, {
      padding-top: 10px;
      max-width: 100px;
      border-radius: 50%;
   }
}
