// @name Resume
// @description All resume styles

dl {
    margin-bottom: $spacer;
    background-color: #1c42bf;
}

dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacer;
    background-color: #1c42bf;
}

@media(min-width: 640px) {
    dt, dd {
        margin-bottom: 60px;
        background-color: #1c42bf;
    }

    .experience {
        dt {
            width: 30%;
            padding-right: ($spacer * 2);
            background-color: #1c42bf;
        }
        dd {
            width: 70%;
            background-color: #1c42bf;
        }
    }

    .education {
        dt, dd {
            width: 50%;
            background-color: #1c42bf;
        }

    .about {
        dd {
          width: 100%;
          background-color: #1c42bf;
        }
      }
    }
}

.title {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: #eec7b7;
}

p {
  background-color: ##eec7b7;
}

a {
    color: black!important;
    background: rgba(245, 215, 110, .5);
    transition: all linear .2s;

    &:hover {
        background: rgba(245, 215, 110, 1);
        text-decoration: none;
    }
}
